body {
    background: black;
    margin: 0;
    font-family: sans-serif;
}

.form {
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    transform: translate(100%,20%);
    padding: 20px 30px;
    position: relative;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: black;
    /* border-bottom:3px solid black; */
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

    input:focus {
        border-bottom: 2px solid #78788c;
    }

.style:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

    button:hover {
        background: #78788c;
        color: #fff;
    }
