@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('../image/Food-waste-2-scaled.jpeg') no-repeat;
    background-size: cover;
    padding: 0 10px;
}

.a {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
}
 
    .a .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #fec107;
        text-transform: uppercase;
        text-align: center;
    }

    .a .form {
        width: 100%;
    }

        .a .form .b {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }

            .a .form .b label {
                width: 200px;
                color: #757575;
                margin-right: 10px;
                font-size: 14px;
            }

            .a .form .b .input {
                width: 100%;
                outline: none;
                border: 1px solid #d5dbd9;
                font-size: 15px;
                padding: 8px 10px;
            }

            .a .form .b .check {
                width: 15px;
                height: 15px;
                position: relative;
                display: block;
                cursor: pointer;
            }

            .a .form .b .btn {
                width: 100%;
                padding: 8px 10px;
                font-size: 15px;
                border: 0px;
                background: #fec107;
                color: #fff;
                border-radius: 3px;
                outline: none;
            }

                .a .form .b .btn:hover {
                    background: black;
                }
